
<div class="booking-confirmation-container py-5 d-flex align-items-center">
  <div class="congrats-card" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url('<%= cl_image_path @garden.picture, crop: :fill %>')">
       <h3>Congratulations!</h3>
  </div>
    <div class="booking-details-card">
          <h5>Your booking request has been sent to <%=@booking.garden.user.first_name%>!</h5>
          <h6><strong>Your reservation details</strong></h6>
          <p><strong>Garden name:</strong><%=@booking.garden.name%></p>
          <p><strong>Start date:</strong><%=@booking.start_date%></p>
          <p><strong>End date:</strong><%=@booking.end_date%></p>
            <p><% if @booking.status == 'Accepted'%>
            Your booking has been <strong><%=@booking.status%></strong>
            <% elsif @booking.status == 'Declined'%>
            Your booking has been <strong><%=@booking.status%></strong>
            <% elsif @booking.status == 'Pending'%>
               Your booking is <strong><%=@booking.status%></strong>
            <%end%></p>
    <% if policy(@booking).edit? %>
      <%= link_to "Update", edit_booking_path(@booking), class: "update-button btn btn-success btn-lg" %>
    <% end %>
</div>
