<div class="container">
<div class= row>
  <div class="booking-form col-md-3">
  <%=simple_form_for [@garden, @booking] do |f| %>
  <%= f.input :start_date, as: :string, required: true, input_html: {class: "datepicker"}  %>
  <%= f.input :end_date, as: :string, required: true, input_html: {class: "datepicker"}  %>
  <%= f.submit 'Create booking' %>
<% end %>
  </div>

<div>
<p>
Title: <%= @garden.name %> <br>
Location: <%= @garden.address %> <br>
Details: <%= @garden.description %> <br>
Size: <%= @garden.size %> <br>
Price: $<%= @garden.price %> <br>
Capacity: <%= @garden.number_of_guests %> people <br>
</p>

  <% if policy(@garden).destroy? %>
    <%= link_to "Delete", garden_path(@garden), method: :delete, data: { confirm: "Sure?" }%>
  <% end %>


  <% if policy(@garden).edit? %>
    <%= link_to "Edit", edit_garden_path(params[:id])%>
  <% end %>
  </div>

<%= cl_image_tag @garden.picture, class: "show-image" %>


</div>
</div>
