<ul>
<li> <%= @garden.name %></li>
<li> <%= @garden.address %></li>
<li> <%= @garden.description %></li>
<li> <%= @garden.size %></li>
<li> <%= @garden.price %></li>
<li> <%= @garden.number_of_guests %></li>
</ul>

  <% if policy(@garden).destroy? %>
    <%= link_to "Delete", garden_path(@garden), method: :delete, data: { confirm: "Sure?" }%>
  <% end %>
