<div class="container" style="margin-top: 5em;">

<%=simple_form_for [@garden, @booking] do |f| %>
  <%= f.input :start_date %>
  <%= f.input :end_date %>
  <%= f.submit 'Create booking' %>
<% end %>

<ul>
<li> <%= @garden.name %></li>
<li> <%= @garden.address %></li>
<li> <%= @garden.description %></li>
<li> <%= @garden.size %></li>
<li> <%= @garden.price %></li>
<li> <%= @garden.number_of_guests %></li>
</ul>

  <% if policy(@garden).destroy? %>
    <%= link_to "Delete", garden_path(@garden), method: :delete, data: { confirm: "Sure?" }%>
  <% end %>
</div>
